body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

header a {
    
  
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 5;
}

h3 {
  text-align: center;
  margin-top: 20px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

article {
  border: none;
  border-radius: none;
  padding: 10px;
  text-align: center;
  max-width: 320px;
  
}

article img {
  width: 300px;
  height: auto;
  border: none;
 
  
}

article p {
  border: none;
  font-size: 90%;

  
}




nav ul li a {
  color: white;
  text-decoration: none; 
}

@media (max-width: 670px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    
  }

  .logo a {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:  10%;
    align-items: left;

    
    
    
    
    
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  nav ul li a {
    display: inline-flexbox;
    background-color: #a09d9d;
    color: rgb(228, 227, 227);
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 1px;
    min-width: 100px;

  }

  article p {
  border: none;
  font-size: 100%;
  
}
}

article img {
  width: 100%;

}








